.container 
    width: 100%
    margin: 0 auto
    img
        padding: 25px 0

@media (min-width: 420px)
    .container
        width: 90%

@media (min-width: 1200px)
    .container
        width: 1120px